
body {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
    background-image: url("https://www.runescape.com/img/rsp777/bg2.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100% 100%;
    

     }

h1 {
    font-size: 400%;
    color: whitesmoke;

    }

p {
    color: white;
    }    

#scribble-top {
    font-size: 300%;
    color: yellowgreen;
    font-family: 'Oleo Script Swash Caps', cursive;
    position: relative;
    bottom
    : 50px;
    
    }  

.wrapped-content {

    width: 100%;
    margin: auto;
    
    }

.scroll {
        width: 80%;
        position: relative;
        z-index: 10;
    }

.contents-table {
    width: 80%;
    background-image: url('https://www.runescape.com/img/rsp777/scroll/backdrop_745.gif');
    background-position: center;
    position: relative;
    background-repeat: repeat-y;
    margin: auto;
    padding: 50px 0;
    bottom: 25px;
    background-size: 100% 100%;
}

.job_offer_form {

    background-color: green;
}
.error {
    display: none;
    margin-left: 10px;
}

.error_show {
    color: rgb(255, 0, 34);
    margin-left: 10px;    
}

input.invalid, textarea.invalid {
    border: 2px solid red;
}

input.valid, textarea.valid {
    border: 2px solid green;
}

.test {
    background-color: cadetblue;
}
table {
    height: 100px;
    margin-bottom: 10px;
    width: 100%;

}
table tr {
    height: 20px;
}

  
th, td {
    border: 1px solid;
    height: 10px;
  
  }
table td p {
    height: 8px;
}

.head-form {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

#form-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    gap: 2rem;
}

.head-form p {
margin-top: 5px;
height: 8px;
}

#reg-butt {
    height: 50px;
}
.reg-button {
    height: 40px;
    width: 150px;
}


.bottom-form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.bottom-bottom-form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}


.buttom-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 40px;
    gap: 1em;
}

#first_form_submit, #quit {
    height: 40px;
    
}


button#addJob {
    color:blue;
    margin-left: 5px;
}

select option:nth-child(8) {
    background: rgba(17, 117, 4, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
select option:nth-child(9) {
    background: rgba(148, 5, 5, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#bottom-scroll {

    position: relative;
    bottom: 50px;
}

/* small devices (phones, 900px and down) */
@media only screen and (max-width: 900px) {
    .wrapped-content {
        width: 80%;
    }
    } 